<div *ngIf="articulos!=null">
  <table id="customers" border="1">
    <tr id="primerColumna">
      <td>Temperatura</td><td>Estado</td><td>Humedad</td><td>Velocidad</td>
      <td>Pais</td>
    </tr>
    <tr>
      <td>{{articulos.main.temp}}</td>
      <td>{{articulos.weather[0].description}}</td>
      <td>{{articulos.main.humidity}}</td>
      <td>{{articulos.wind.speed}}</td>
      <td>{{articulos.sys.country}}</td>
    </tr>
  </table>
</div>
<form id="consulta">
  <input  type="text" placeholder="Ingrese la ciudad" name="ciudad" id="ciudad" #cityValue><br>
  <button id="btnCon" type="button" (click)='handleSubmit(cityValue)'>Consultar</button></form>